
.i{
    display: flex;
    height: 100vh;
    font-size: 100px;
   
}

.left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iright{
    flex: 1.5;
    position: relative;
}

.left-wrapper{
    padding:50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro{
    font-size: 100px;
    font-weight: 300;
}

.name{
    font-size: 100px;
}

.title{
    height: 60px;
    overflow: hidden;
}

.ititle-wrapper{
    height: 60%;
    animation: move 10s ease-in-out infinite alternate;
    font-size: 50px;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
  

}

.title-item{
    height: 50px;
    font-style: 30px;
    font-weight: bold;
    color: #59b256;
    align-items: center;
    display: flex;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.i-bg{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: rgb(81, 148, 211);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    
}